.filter {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.button,
.button:hover,
.buttonactive {
  width: 6rem;
  height: 2.5rem;
  border: 1px solid #1ca87d;
  border-radius: 20px;
  opacity: 1;
  background-color: transparent;
  margin-right: 1.5rem;
}

.button:hover {
  background-color: #1ca87d;
}

.button:focus,
.buttonactive:focus {
  outline: none;
}

.buttonactive {
  background-color: #1ca87d;
}

.input1 {
  padding-left: 1rem;
  width: calc(341 / 16 * 1rem);
  height: calc(40 / 16 * 1rem);
  border: 1px solid #707070;
  border-radius: calc(20 / 16 * 1rem);
  opacity: 1;
}

.input1:focus {
  outline: none;
}

.chart {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chartcomp {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .filter {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .buttonwrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
  }

  .chartcomp {
    width: 100%;
  }
}
