.table {
  width: 100%;
  margin-top: 5rem;
}

.heading > th,
.row > td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.high {
  background-color: #ffcf07;
}

.normal:hover {
  background-color: #ffcf07;
}

.message {
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
}

@media (max-width: 800px) {
  .table {
    margin-top: 2.5rem;
  }
}
