.table {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

@media (max-width: 800px) {
  .table {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
